[submodule "browser"]
	path = browser
	url = https://github.com/btwiuse/gear-browser.git
[submodule "isolation"]
	path = isolation
	url = https://github.com/btwiuse/gear-isolation.git
[submodule "wanix-workbench"]
	path = wanix-workbench
	url = https://github.com/btwiuse/gear-wanix-workbench.git
[submodule "bonsai"]
	path = bonsai
	url = https://github.com/btwiuse/bonsai-webgpu-kernels.git
[submodule "web-pet"]
	path = web-pet
	url = https://github.com/btwiuse/wagi-web-pet.git
[submodule "memory"]
	path = memory
	url = https://github.com/btwiuse/gearshell.wiki.git
	branch = master
